@page "/counter"

<Heading Size="HeadingSize.Is1">
    Counter
</Heading>

<Paragraph>
    Current count: @currentCount
</Paragraph>

<Paragraph>
    <Button Color="Color.Primary" Clicked="@IncrementCount">
        Click me
    </Button>
</Paragraph>

<Paragraph>
    <BrowsingTimeDisplay />
</Paragraph>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
